@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-text-nav: var(--clr-gray-800);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope";
    font-weight: 600;
    color: var(--clr-gray-800);
    background-color: white;
}

a {
    text-decoration: none;
    color: var(--clr-text-nav);

    &:hover {
        color: var(--clr-primary);
    }

}

/* Utility classes */

.btn {
    display: flex;
    text-align: center;
    padding: .5em 1.4em;
    margin: 1rem;
    border: none;
    border-radius: 6px;
    flex-shrink: 0;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: white;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar start */

.main-nav {

    .container {
       width: 100%;
       display: flex;
       justify-content: space-around;
       padding-top: .5rem;
       
    }

    .nav-right {
        gap: 3rem;
    }

    .nav-left {
        gap: 1rem;
    }

    .darkmode-toggle {

        p {
            padding: 1rem;
        }

        .toggle {
            --_w: 46px;
            --_h: 24px;
        
            position: relative;
            flex-shrink: 0;
            width: var(--_w);
            height: var(--_h);
            display: inline-block;
        
            input[type="checkbox"] {
                width: 0;
                height: 0;
                opacity: 0;
            }
        
            .slider {
                position: absolute;
                inset: 0;
                background-color: var(--clr-gray-600);
                border-radius: 100vw;
                transition: all 250ms;
                
            }
        
            .slider::after {
                position: absolute;
                top: 2px;
                left: 2px;
                content: '';
                height: calc(100% - 4px);
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: #FFF;
        
                transition: all 250ms ;
        
            }
        
            input[type="checkbox"]:checked ~ .slider::after {
                left: calc(100% - var(--_h) + 2px);
            }
            input[type="checkbox"]:checked ~ .slider {
                background-color: var(--clr-primary);
            }

        }
        
    }

    .btn {
        img {
            margin-right: .6em;
        }
    }



    
}

/* Navbar end */

/* Hero start */



/* Hero end */