@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-text-nav: var(--clr-gray-800);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope";
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--clr-text-nav);

}

.btn {
    display: flex;
    padding: .5em 1.4em;
    margin: 1rem;
    border: none;
    border-radius: 6px;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: white;
    
}

/* Navbar start */

.main-nav {

    display: grid;
    align-items: center;
    justify-content: space-between;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1320px;
    }

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 2rem;
        padding: 1rem;
    }

    .btn {
        img {
            margin-right: .6em;
        }
    }



    
}

/* Navbar end */
