@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-text-nav: var(--clr-gray-800);

    --clr-bg-white: #FFF;
    --clr-bg-blue: #F3F6FF;

    --txt-lg: 1.125rem;
    --txt-m: ;
    --txt-h2: 2.5rem;
    --txt-h3: 1.5rem;
    --txt-s: 0.875rem;
    --txt-body-l: 1.125rem;

    --section-margin: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope";
    background-color: white;
}

a {
    text-decoration: none;
    color: var(--clr-text-nav);

    &:hover {
        color: var(--clr-primary);
    }

}

/* Utility classes */

.btn {
    padding: .5em 1.4em;
    border: none;
    border-radius: 6px;
    flex-shrink: 0;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: white;
}

.btn-circle {
    
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: none;
        margin: 1rem 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        span {
            white-space: nowrap;
            font-size: 0.875rem;
        }
    
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w1400 {
    max-width: 1400px;
    margin: 0 auto;
}

/* Navbar start */

.main-nav {

    margin-top: .5rem;
    padding: 0 2rem;

}

.nav-container {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    
 }

 .nav-right {
     gap: 3rem;
 }

 .nav-left {
     gap: 1rem;
 }
     
 .darkmode-toggle {  /* Code borrowed from Joakim's explanation video. */

     p {
         padding: 1rem;
     }

     .toggle {
         --_w: 46px;
         --_h: 24px;
     
         position: relative;
         flex-shrink: 0;
         width: var(--_w);
         height: var(--_h);
         display: inline-block;
     
         input[type="checkbox"] {
             width: 0;
             height: 0;
             opacity: 0;
         }
     
         .slider {
             position: absolute;
             inset: 0;
             background-color: var(--clr-gray-600);
             border-radius: 100vw;
             transition: all 250ms;
             
         }
     
         .slider::after {
             position: absolute;
             top: 2px;
             left: 2px;
             content: '';
             height: calc(100% - 4px);
             aspect-ratio: 1;
             border-radius: 50%;
             background-color: #FFF;
     
             transition: all 250ms ;
     
         }
     
         input[type="checkbox"]:checked ~ .slider::after {
             left: calc(100% - var(--_h) + 2px);
         }
         input[type="checkbox"]:checked ~ .slider {
             background-color: var(--clr-primary);
         }

     }
     
 }

 .btn {
     img {
         margin-right: .6em;
     }
 }

/* Navbar end */

/* Hero start */

.hero {
    
    background-image: linear-gradient(to top, hsl(239, 84%, 67%, 10%) 0%, hsl(293, 84%, 61%, 5%) 42%, hsl(225, 75%, 97%, 7%) 83%);

}

.hero-container {
    
    margin-top: 8rem;
    width: 100%;
    padding: 0 2rem;
    gap: 9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.discover-more-container {
    display: grid;
    align-items: center;
    gap: 1rem;
}

.headline {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.subtitle {
    color: var(--clr-gray-700);
    font-weight: 400;
}

.store-buttons {

    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 8rem;

    button {

        background-color: #0B0F19;
        border-radius: 8px;
        border: none;

        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
            margin:.3rem;
        }
    }

}

.discover-more-btn {


    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.215);
    color: var(--clr-gray-700);
    margin: 2rem 0;

    img {
        padding: 1rem;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    span {
        white-space: nowrap;
        font-size: 0.875rem;
    }

}

.hero-iphones {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Hero end */

/* App Features section start */

.app-features {
    margin: 5rem auto;
}

.partner-logos {

    margin-bottom: 1rem;
    img {
        padding: 1rem;
    }
}

.features-container {
    margin: 1rem;
    margin-top: 3rem;
    gap: 9rem;
}

.feature-list {
    display: grid;
    gap: 2rem;
}

.feature-list-title {

    padding-right: 1rem;
    
    h2 {
        font-size: var(--txt-h2);
        margin-bottom: 1rem;
    }
    p {
        font-size: var(--txt-body-l);
        color: var(--clr-gray-600);
    }
}

.feature-list-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 8rem;
    list-style: none;
    
}

.feature-list-item {

    margin-bottom: 3rem;

    h3 {
        margin: 1rem 0;
    }

    p {
        color: var(--clr-gray-700);
        padding-right: 3rem;
    }
}

/* App Features section end */

/* How Does It Work? section start */

.howdoesitwork {
    background-color: var(--clr-bg-blue);
    padding: 2rem;
}

.howdoesitwork-container {
    margin: 3rem auto;

    h2 {
        font-size: var(--txt-h2);
    }
}

.howdoesitwork-imgs {
    gap: 5rem;
    margin: 2rem;
    padding: 2rem 0;
}

.howdoesitwork-text {

    padding-top: 1rem;
    text-align: center;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

/* How Does It Work? section end */

/* Transfers and Banking section start */

.transfers-and-banking-wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 6rem;

    button {
        padding: .7rem 2rem;
    }
}

.transfers-text {
    list-style-image: url(/images/icons/bx-check-circle.svg);
    margin-right: 6rem;
    padding: 4rem 0;

  
    ul {
        margin: 2rem 1.5rem;
    }

    li {
        padding-bottom: .7rem;
        color: var(--clr-gray-700);
    }

    h2 {
        font-size: 2rem;
    }

}

.banking {
    margin-right: 3rem;
    margin-top: 4rem;
    
    h2 {
        font-size: 2rem;
    }

}

.banking-items {

    margin: 2rem 0;
    padding-right: 2rem;
    
    img {
        padding-bottom: 1rem;
    }
    
}

/* Transfers and Banking section end */

/* Testimonials section start */

.testimonials {
    background-color: var(--clr-bg-blue);
    padding: 6rem;

    h2 {
        padding-right: 3rem;
    }
    
}

.testimonials-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    h2 {
        font-size: 2.5rem;
    }
}

.testimonial-card {
    display: grid;
    gap: 2rem;
    background-color: var(--clr-bg-white);
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 6px #9397ad2d;
    max-width: 400px;
}

.testimonial-user {
    display: flex;
    padding-top: 2rem;
    img {
        padding-right: 1rem;
    }
}

.user-name {
    font-weight: 700;
}

.user {
    display: grid;
}

/* Testimonials section end */

/* FAQ section start */

.FAQ {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;

    p {
        padding: 2rem 0;
    }
}

.FAQ-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.FAQ-card {
    display: grid;
    gap: 1rem;
    margin-top: 1rem; 
    padding: 2rem 1rem;
    border: 1px solid #9397ad2d;
    border-radius: 1rem;
    max-width: 200px;
    aspect-ratio: 1;
}

.accordion-item {
    margin-bottom: 1rem;
    border-radius: .7rem;
    box-shadow: 2px 3px 7px 2px #9397ad2d;
    padding: 0 1rem;
    max-width: 700px;

    button {
        background-color: var(--clr-gray-100);
    }
}

.accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

}

.accordion-item-open {

    button {
        box-shadow: 2px 3px 7px 2px #9397ad2d;
        background-color: #6366F1;

        img {
            filter: invert(1);
            transform: scaleY(-1);
        }
    }
}

/* FAQ section end */

/* Newsletter subscription section start */

.newsletter-wrapper {
    display: flex;
    gap: 4rem;
    background-color: var(--clr-bg-blue);
    padding: 2rem 3rem;
    border-radius: 1rem;
}

.newsletter-text {
    margin: 2rem;

    img {
        padding-right: 2rem;
    }
}

.subscribe-container {
    margin-right: 4rem;
}

.subscribe-form {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.email-input-box {
    background-color: white;
    gap: .5rem;
    border: 2px solid var(--clr-gray-400);
    overflow: hidden;
    border-radius: .5rem 0 0 .5rem;
    padding: 0 1rem;
    min-width: 400px;
}

.email-input {
    flex: 1;
    font-size: 1rem;
    border: none;
    outline: none;

    input type="email" {
        color: #565973;
    }

}

.subscribe-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0 .5rem .5rem 0;
}

/* Newletter subscription section end */

.footer {
    margin: 4rem auto;

    p {
      font-size: 0.875rem;  
    }
}